/* The main css file*/
body {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  text-align: center;
}

footer {
	position:fixed;
	bottom:0;
	width:100%;
	text-align: center;
	height: 5%;
}

.float_right{
	float:right;
}

.float_left{
	position:absolute;
	z-index: 2;
	float:left;
}

.container{
	margin-bottom: 5%;
}

.dropdown-menu{
	right:0;
	left:-100px;
}

.footer-article{
	position:relative;
	margin-top:2%;
	bottom:0;
}

.img_in_art{
	width: 50%;
}

.img_in_popup{
	width: 90%;
}

.popup_content{
	width:60%;
	height:400px;
	padding-right:1%;
	border-right:1px solid white;
	float:left;
}
.popup_comments{
	width:35%;
	float:left;
}


.add_comment{
	position:absolute;
	bottom:0;
	width:32%;
	margin:3%;
}