/* The main css file*/
body {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  text-align: center;
}

footer {
	border-radius: 5px;
	padding:1%;
	padding-bottom:3%;
	opacity: 0.8; 
	/*background-color: #3a3f44;*/
	background-image: linear-gradient(to right, #272b30, #32383e, #272b30);
	position:fixed;
	bottom:0;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	text-align: center;
	height: 5%;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
 }
 
.float_right{
	float:right;
}

.float_left{
	position:absolute;
	z-index: 2;
	float:left;
}

.container{
	margin-bottom: 5%;
}

.dropdown-menu{
	right:0;
	left:-100px;
}

.footer-article{
	position:relative;
	margin-top:2%;
	bottom:0;
}

.img_in_art{
	width: 50%;
}

.img_in_popup{
	width: 90%;
}

.popup_content{
	height:100%;
	padding-right:1%;
	padding-bottom:2%;
}
.popup_comments{
	max-height : 400px;
	overflow:auto;
	margin-top:3%; 
}

.popup_comments::-webkit-scrollbar { 
    display: none; 
}

.add_comment{
	float:right;
}