<header ng-include="'html/header.html'"></header>
<h2>{{title}}</h2>
<center><div class="hidden-xs" style="margin-bottom:2%;">
	<carousel style="width:40%" interval="5000">
	  <slide ng-repeat="slide in slides" active="slide.active">
	    <img style="height:auto; width:100%;" ng-src="{{slide.image}}" class="img-rounded" style="margin:auto;">
	    <div class="carousel-caption">
	      <h4>{{slide.title}}</h4>
	      <p ng-bind-html="slide.text"></p>
	    </div>
	  </slide>
	</carousel>
</div></center>

<ul class="list-group">
	<li class="list-group-item">
		<ul class="nav nav-tabs">
			<li><a ng-click="searchCat.categories=$" href="#">All</a></li>
		    <li ng-repeat="cat in categories"><a ng-click="searchCat.categories=cat.id" href="#">{{cat.name}}</a></li>
		</ul>
	</li>
  <li class="list-group-item" ng-repeat="article in articles | filter:searchCat">
  	<span class="hour_article badge">{{article.date_hour}}</span>
    <h4 class="content">{{article.title}} : </h4>
    <img ng-src="{{article.image}}" style="float:left;margin-right:2%" class="img_in_art img-rounded">
    <p ng-bind-html="article.content+'...'"></p>
    <br style="clear:both; width:100%"/>
    <div class="footer-article">
	    <button class="btn btn-info btn-xs" ng-click="readmore($index)">Read more</button>
	    <i class="float_right text-right text-muted" >Posted by : {{article.username}}</i>
	</div>
  </li>
</ul>
