<div class="modal-header">
    <a class="float-right close" ng-click="close()">&times;</a>
    <h3 class="modal-title">{{article.title}}</h3>
</div>
<div class="modal-body">
    <span class="float_right badge">{{article.date_hour}}</span>
    <div class="col-sm-12" ng-class="{popup_content: commenting, 'col-lg-6': commenting , 'col-lg-12': !commenting}">
        <img ng-src="{{article.image}}" 
            style="float:left;margin-right:2%" 
            ng-class="{img_in_art : !commenting,img_in_popup : commenting}" 
            class="img-rounded">
            <br ng-hide="!commenting" style="clear:both; width:100%"/>
        <p style="padding-top:3%">{{article.content}}</p>
        <br style="clear:both; width:100%"/>
        <div style="clear:both; position:absolute; bottom:0; right:0;">
            <i class="text-right text-muted" >Posted by : {{article.username}}</i>
        </div>
    </div>
    <div ng-hide="!commenting" class="col-lg-6 col-sm-12 popup_comments">
        <center>{{no_comment}}</center>
        <div ng-repeat="comment in comments" style="width:100%;padding:0;" class="panel panel-default">
            <div class="panel-heading">
                <span class="header_comment"><b>{{comment.user}}</b></span>
                <span style="font-size:12px" class="date_comment float_right"><i>{{comment.date}}</i></span>
            </div>
            <div class="panel-body" style="padding:10px;">
                <span class="content_comment">{{comment.content}}</span>
                <button type="button" class="close" ng-hide="admin_hide" ng-click="removeComment($index)">&times;</button>
            </div>
        </div>
    </div>
    <br style="clear:both; width:100%"/>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" style="float:left" ng-disabled="commenting" ng-click="comment()">Comment</button>
    <div ng-hide="add_comment_hide" class="col-lg-5 form-horizontal add_comment">
        <input class="form-control" type="text" ng-model="new_comment.add">
        <button class="float_right btn btn-sm btn-success" ng-click="addComment()">Publish</button>
    </div>
</div>