<header ng-include="'html/header.html'"></header>
<h2>{{title}}</h2>

<div ng-hide="hide_alert_success_art" class="alert alert-success alert-dismissable">
    <button type="button" class="close" ng-click="hide_alert_success_art=true">&times;</button>
    {{result_articles}}
</div>
<div class="panel panel-primary">
	<div class="panel-heading">Articles</div>
	<div class="panel-body">
		<div ng-if="art.status == 0" ng-repeat="art in articles" style="width:100%; margin-bottom:2px;" class="panel panel-default">
            <div style="height:30px;font-size:14px;padding:5px 10px;" class="panel-heading">
                <span popover="{{art.user}}" popover-trigger="mouseenter">{{art.title}}</span>
                <span style="font-size:12px" class="date_comment float_right"><i>at {{art.date_hour}}</i></span>
            </div>
            <div class="panel-body" style="padding:10px;">
                <span class="content_comment">{{art.content}}</span>

                <button type="button" class="close" ng-click="articles.splice($index,1)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="close" ng-click="articles[$index].status=1">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
        </div>
        <center><button type="button" class="btn btn-primary btn-sm" ng-click="save_art()">Save</button></center>
	</div>
</div>


<div ng-hide="hide_alert_success_com" class="alert alert-success alert-dismissable">
    <button type="button" class="close" ng-click="hide_alert_success_com=true">&times;</button>
    {{result_contacts}}
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Contacts</div>
    <div class="panel-body">
        <div ng-repeat="question in contact" style="width:100%; margin-bottom:2px;" class="panel panel-default">
            <div style="height:30px;font-size:14px;padding:5px 10px;" class="panel-heading">
                <span popover="{{question.name}}" popover-trigger="mouseenter">by {{question.mail}}</span>
                <span style="font-size:12px" class="date_comment float_right"><i>at {{question.date_hour}}</i></span>
            </div>
            <div class="panel-body" style="padding:10px;">
                <span class="content_comment">{{question.text}}</span>
                <button type="button" class="close" ng-click="contact.splice($index,1)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
        <center><button type="button" class="btn btn-primary btn-sm" ng-click="save_contact()">Save</button></center>
    </div>
</div>